<% include ../partials/chartheader.ejs %>
    <div class="" style="position: relative;width:50%;margin: 0 auto;">
        <h1>
            Edit Ticket
        </h1>
        <div class="form-control">

            <div class="container" style="width:50%;height:500px;margin:0 auto;margin-top:30px">
                <label for="ticketName">Name: </label>
                <input type="text" class="form-control w-50" id="ticketName" name="ticketName" placeholder="Ticket Name"
                    value="<%=ticket.ticketName%>">
                <label for="ticketDetail" style="margin-top:20px">Detail: </label>
                <textarea class="form-control w-50" id="ticketDetail"
                    placeholder="Ticket Detail"><%= ticket.ticketDetail %></textarea>
                <label for="ticketDeadline" style="margin-top:20px">Complete by: </label>
                <input type="date" class="form-control w-25" id="ticketDeadline" value="<%= ticket.ticketDeadline %>">
                <button class="btn btn-primary btn-sm" style="margin-top:20px" onclick="editTicket()">update</button>
            </div>

        </div>

        <script src="/modules/TicketScripts/ticketFunctions.js"></script>
        <script>

            function editTicket() {

                var ticketObject = {
                    
                    recordId: '<%= ticket.recordId %>',
                    ticketName: $('#ticketName').val(),
                    ticketDetail: $('#ticketDetail').val(),
                    ticketDeadline: $('#ticketDeadline').val(),
                    ticketDone: false

                }

                updateTicket(ticketObject, function () {

                    location.href = "/tickets/users-tickets"

                })
            }

        </script>

    </div>

    <% include ../partials/footer.ejs %>