<h4 style="margin-top:20px">Query Data</h4>
<div class="form-control" style="width:100%">
    <label for="directoryInput" class="form-label">Select Field to Query against</label>
    <select class="form-control w-25 field" name="deviceType" id="queryField">

    </select>
    <label for="directoryInput" class="form-label">Query Type</label>
    <select class="form-control w-25" name="deviceType" id="queryType" onchange="changeForm(this.value)">
        <option>String Match</option>
        <option>String Contains</option>
        <option>String Match (not Case Sensitive)</option>
        <option value="Inbetween">Inbetween</option>
        <option>Larger than</option>
        <option>Less than</option>
    </select>

    <!-- Embed the query selector here -->

    <label>Query String</label>
    <input class="form-control w-25" type="text" id="queryString" value="">

    <label style="display:none" class="inbetween" id="lowerLabel">Lower:</label>
    <input class="form-control w-25 inbetween" type="text" name="lowerQueryString" id="lowerQueryString" style="display:none">
    <label style="display:none" class="inbetween" id="upperLabel">Query String Upper:</label>
    <input class="form-control w-25 inbetween" type="text" name="upperQueryString" id="upperQueryString" style="display:none">
    <button class="btn btn-md btn-primary" onclick="runQuery()">Update</button>
    <button class="btn btn-success" id="addAnotherDatasetButton" onclick="addExtraDataQuery()" style="display:none">Add Another dataset</button>
</div>

<script src="../../modules/DatabaseScripts/databaseFunctions.js"></script>
<script>

    

    

</script>