<div class="form-control" style="width:100%;height:800px;margin-top:30px;overflow-x: scroll;">

    <table id="results-table2" class="table table-striped table-bordered" style="width:100%;">
        
    </thead>
    </table>
    <script src="/modules/ChartScripts/tableFunctions.js"></script>
    <script>

    </script>
    
    </div>