<% include ./partials/homeheader.ejs %>

<div class="container">
<h1>Home</h1>

<ul style="list-style-type:none">
    <li><button class="btn btn-lg btn-light" onclick="window.location.href='/storage-home'">Storage</button></li>
    <li><button class="btn btn-lg btn-light" onclick="window.location.href='/workflow-home'">Workflow</button></li>
    <li><button class="btn btn-lg btn-light" onclick="window.location.href='/code-home'">Code</button></li>
    <li><button class="btn btn-lg btn-light" onclick="window.location.href='/crawlers/home'">Crawlers</button></li>
    <li><button class="btn btn-lg btn-light" onclick="window.location.href='/events/home'">Event Triggers</button></li>
    <li><button class="btn btn-lg btn-light" onclick="window.location.href='/websites/home'">Websites and Deployments</button></li>
    <li><button class="btn btn-lg btn-light" onclick="window.location.href='/data-streaming/home'">Data Streaming</button></li>
    <li><button class="btn btn-lg btn-light" onclick="window.location.href='/media/home'">Photos and Video</button></li>
    <li><button class="btn btn-lg btn-light" onclick="window.location.href='/database/home'">NoSQL Database</button></li>
    <li><button class="btn btn-lg btn-light" onclick="window.location.href='/IOT/home'">IOT Devices</button></li>
    <li><button class="btn btn-lg btn-light" onclick="window.location.href='/learning/home'">Machine Learning</button></li>
    <li><button class="btn btn-lg btn-light" onclick="window.location.href='/forms/home'">Forms</button></li>
    <li><button class="btn btn-lg btn-light" onclick="window.location.href='/homeAutomatiom/home'">Home Security and Automation</button></li>
    <li><button class="btn btn-lg btn-light" onclick="window.location.href='/logs/home'">Logs</button></li>
    <li><button class="btn btn-lg btn-light" onclick="window.location.href='/tickets/home'">Job Tickets</button></li>
    <li><button class="btn btn-lg btn-light" onclick="window.location.href='/chart/home'">Charts and Dashboards</button></li>
    <li><button class="btn btn-lg btn-light" onclick="window.location.href='/security/home'">Security</button></li>
    <li><button class="btn btn-lg btn-light" onclick="window.location.href='/settings'">Settings</button></li>
</ul>

<style>
    li {
        margin-bottom:10px
    }

</style>

</div>

<% include ./partials/footer.ejs %>
