<html>
<body style="background-color: rgb(41, 41, 41);">
    <video src="/video/play/<%= path %>" id="movieBox" height="98.5%" width="auto" controls autoplay style="display:block;margin:0 auto">
    </video>
</body>
</html>

<script>
</script>

