<% include ./partials/workflowsheader.ejs %>

<div class="container">
<h1>Workflows</h1>
<p>Create processing workflows for sorting directories, photo processing and more. Workflows can be set to trigger automatically using triggers or run manually.</p>
<% if(!currentUser){ %>

<% } else { %>
    
    <button class="btn btn-md btn-light" onclick="window.location.href='/usersworkflows/<%=currentUser.name%>'">All Workflows</button>
    <button class="btn btn-md btn-light" onclick="window.location.href='/workflows/scheduled/'">My Scheduled Workflows</button>
    <button class="btn btn-md btn-light" onclick="window.location.href='/notebooks/showNotebooks'">My Notebooks</button>
    <button class="btn btn-md btn-light" onclick="window.location.href='/workflows/settings'">Settings</button>
<% } %>
</div>


<% include ./partials/footer.ejs %>
