<% include ../partials/codeheader.ejs %>
<div class="container" style="position: relative;">
    <h1>Create a new Project</h1>
    <form action="/userscode/create" method="POST">
    <input style="margin-top:30px" type="text" id="projectName" name="projectName" class="namebox form-control w-50" placeholder="Project Name"
        aria-label="Example text with button addon" aria-describedby="button-addon1">

    <h4 style="margin-top:20px">Code Configuration</h4>
    <div class="form-control" style="width:100%">
    <label for="projectDetail" class="form-label">Project Detail</label>
    <textarea class="form-control" name="projectDetail" id="detail" cols="30" rows="5" placeholder=""></textarea>
    <label for="directoryInput" class="form-label">Project Language</label>
    <select id="language" name="projectLanguage" class="form-control w-25" value="Python">
        <option value="Python">Python</option>
        <option value="C++">C++</option>
        <option value="JavaScript">JavaScript</option>
        <option value="Java">Java</option>
    </select>
    </div>

    <h4 style="margin-top:20px">Add Project Files</h4>
    <div class="form-control" style="width:100%;height:300px">
    
    </div>

    <input type="hidden" value="<%= currentUser.id %>" name="userId">
    <button  style="margin-top:30px" class="btn btn-primary">Create</button>
</form>
</div>
<script>

</script>
    

<% include ../partials/footer.ejs %>