<% include ../partials/mediaheader.ejs %>

<div class="container">
<h1>Video</h1>
<p></p>
    
    <button class="btn btn-md btn-light" onclick="window.location.href='/media/presentation'">Video Presentation</button>


</div>

<% include ../partials/footer.ejs %>
