<% include ../partials/mediaheader.ejs %>

<div class="container">
<h1>Media</h1>
<p>Create, Watch or Listen.</p>
<% if(!currentUser){ %>

<% } else { %>
    
    <button class="btn btn-md btn-light" onclick="window.location.href='/media/video'">Video</button>
    <button class="btn btn-md btn-light" onclick="window.location.href='/media/photos'">Photos</button>
    <button class="btn btn-md btn-light" onclick="window.location.href='/media/projects'">Projects</button>
    <button class="btn btn-md btn-light" onclick="window.location.href='/media/settings'">Settings</button>    

<% } %>

</div>

<% include ../partials/footer.ejs %>
