<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
        integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
</head>

<!-- <h4 style="margin-top:20px">Chart</h4> -->
<div class="form-control" style="width:100%;height:800px;">
    <div id="map" style="height:780px;"></div>
</div>

<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
    integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
<script src='/modules/ChartScripts/mapFunctions.js'></script>