<% include ../partials/crawlerheader.ejs %>

<div class="container">
<h1>Crawlers</h1>
<p>Create Web and File Crawlers to automatically crawl web requests or index files in file systems.</p>
<% if(!currentUser){ %>

<% } else { %>
    
    <button class="btn btn-md btn-light" onclick="window.location.href='/crawlers/users-crawlers'">My Crawlers</button>
    <button class="btn btn-md btn-light" onclick="window.location.href='/workflows/settings'">Settings</button>
<% } %>
</div>


<% include ../partials/footer.ejs %>
