<% include ../partials/logheader.ejs %>


<div class="container" style="margin-top:100px">
  <div class="form-group">
    <nav aria-label="breadcrumb">
      <ol id="breadcrumblist" class="breadcrumb">
        <li class="breadcrumb-item item active" aria-current="page"><i class="fas fa-folder"></i></li>
        <li class="breadcrumb-item item" onclick="updatedeletedir(-1)"><a id="home">Logs</a></li>

      </ol>
    </nav>
    <div class="btn-group" role="group" aria-label="Basic example">
      
    </div>
    <!-- New file name entry -->
    <div class="input-group mb-3 nameentry" style="display:none">
      <div class="input-group-prepend">
        <button class="btn btn-outline-secondary addnewfolder" onclick="createnewfolder()" type="button"
          id="button-addon1">Create</button>
      </div>
      <input type="text" id="namebox" class="namebox form-control" placeholder="Folder name"
        aria-label="Example text with button addon" aria-describedby="button-addon1">
    </div>
    <!-- Rename file entry -->
    <div class="input-group mb-3 renameentry" style="display:none">
      <div class="input-group-prepend">
        <button class="btn btn-outline-secondary renamefolder" onclick="renameFile()" type="button"
          id="button-addon1">Rename File/Folder</button>
      </div>
      <input type="text" id="renamebox" class="namebox form-control" placeholder="New Name"
        aria-label="Example text with button addon" aria-describedby="button-addon1">
      <input type="hidden" id="filename">
    </div>
    <!-- file input -->
    <button style="float:right" onclick="deleteitemshow()" class="btn btn-light"><i class="fas fa-trash"></i>
      Edit</button>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Search</span>
      </div>
      <input type="text" id="searchinput" class="form-control" placeholder="Search Logs" aria-label="Username"
        aria-describedby="basic-addon1">
    </div>
    <ul id="list" class="list-group" style="max-height: 500px; overflow: scroll;">
      
      <% for(var i = 0; i < usersLogs.length; i++){ %>

          <li id="<%= i %>" class="list-group-item"><a href="#" onclick="openLog('<%= usersLogs[i].databaseId %>')"><%= usersLogs[i].dbName %></a></li>

      <% } %>
      
    </ul>
    <form action="/logs/viewLog" style="display:none" method="POST" id="logForm">
      <input type="hidden" name="databaseId" onchange="submitForm()" id="databaseId" value="">
    </form>
  </div>
</div>
<script>

  //Get Logs from route and populate the list with links

  function openLog(databaseId){

    console.log(databaseId)

    $("#databaseId").val(databaseId)
    $("#logForm").submit()

  }
</script>
<% include ../partials/footer.ejs %>
