<html>

<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
        integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
    <!-- <link rel="stylesheet" href="../style.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/91c704b5fe.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>
    <div class="container" style="height:200px;width:auto;margin: 0 auto;margin-top:400px;padding:50px">
        <h4 style="text-align: center;">Form Successfully Submitted</h4>
        <p style="color:grey;text-align:center" centered>Form created with cloudserver </p>
    </div>
</body>

</html>